extends layout
block header
    script(src='controllers/stat.js', type='text/javascript')
block content
    .container-fluid.main-content
    .page-title
        h1= title
        .row
            .col-lg-12(ng-controller='Stat')
                .widget-container.fluid-height.clearfix
                    .col-md-3
                        .heading
                            i.icon-cloud #{title}  Environmental Status
                        .widget-content.padded
                            p.lead Basic state of the storgie ecosystem.
                            b Status...
                            ul
                                li Server Count {{storgie_status.Servers}}
                                li Compute Load {{storgie_status.Compute}}
                                li Memory Load {{storgie_status.Memory}}
                    .col-md-3
                        .heading
                            i.icon-hdd  #{title} Storage
                        .widget-content.padded
                            p.lead Sample data writte and read for profile identities.
                            b Testing...
                            ul
                                li Identity written confirmed, ID: {{written_id.key}}
                                li Identity retrieved with known ID: {{device_by_known}}
                                li Identity retrieved with key: {{device_by_key}}
                            p {{error}}
                    .col-md-3
                        .heading
                            i.icon-power-off  #{title} Status
                        .widget-content.padded
                            p.lead Information about the storage and viable status of storage requirements is stored here.
                            p TBD
                    .col-md-3
                        .heading
                            i.icon-archive  #{title} Archiving to Replication
                        .widget-content.padded
                            p.lead Under Construction
                            p TBD
            .col-lg-5
                .widget-container.fluid-height.clearfix
                    .heading
                        i.icon-bar-chart.fa.fa-bar-chart-o  #{title} Environmental Status
                    .widget-content
                        .col-sm-6
                            .pie-chart1.pie-chart.pie-number(data-percent="1") 1
                        .col-sm-6
                            .pie-chart2.pie-chart.pie-number(data-percent="1") 1